{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["."],
                "alias": {
                    "@src": "./src",
                    "@screen": "./src/screen",
                    "@atom": "./src/components/atom",
                    "@molecule": "./src/components/molecule",
                    "@icons": "./src/icons/"
                }
            }
        ]
    ]
}